USE [AnalyticsCustomTables]
GO
/****** Object:  StoredProcedure [dbo].[Axiom_Employee]    Script Date: 10/23/2025 9:13:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* =============================================
-- Author: Sam Tragante
-- Create date: 01/30/2024
-- Description:	Procedure to populate Axiom's PatientContact table in the NEW_DataImport database
-- =============================================*/
ALTER PROCEDURE [dbo].[Axiom_Employee]
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

     --Insert statements for procedure here
	Insert Into NEW_DataImport.dbo.Employee(
		OldSystemEmpID,
		LastName,
		FirstName,
		Initial,
		Address,
		City,
		State,
		Zipcode,
		Phone,
		DOB,
		SSN,
		HoursPerWeek,
		FullTime,
		EmployeeStatusId,
		Gender,
		JobClassification,
		EmployeeType,
		Email
		)

Select distinct 

--s.staffid 
	s.staffid  as OldSystemEmpID,
		s.lastname as LastName,
		s.firstname as FirstName,
		LEFT(s.middlename,1) as Initial,
		s.Address as Address,			--changed by BJM to paylocity table 2/1/2024
		s.City as City,				--changed by BJM to paylocity table 2/1/2024
		s.State as State,				--changed by BJM to paylocity table 2/1/2024
		LEFT(s.Zip,5) as ZipCode,		--changed by BJM to paylocity table 2/1/2024
		LEFT(REPLACE(REPLACE(REPLACE(s.PhoneNumber, ')', ''),'(',''),'-',''),10) as Phone,
		CONVERT(date, s.DOB) as DOB,
		s.SSN as SSN,
		HoursPerWeek = NULL,																			-- Couldn't find it in our database
		FullTime= 0,
		EmployeeStatusID= 4,
		Gender = Null,
		JobClassification = Null,
		EmployeeType = Null,
		LEFT(s.email,50) as Email
	from StreamlineQuery.dbo.Staff s
	Join AnalyticsCustomTables..PaylocityAPI p
		on p.workEmail = s.Email
	where ISNULL(s.RecordDeleted, 'N') = 'N'
	--and pa.employmentStatusType <> 'T'
	and s.StaffId is not null 
	and s.Active = 'Y'
	--and s.EmploymentStart >= DATEADD(year,-7,getdate())
	--and s.staffid in (63590,63843,64123)			--These will need to be done separate with tables swapped in order to get them to insert.
	order by s.LastName
-- Removing all employees that have been included in previous data dumps

--Delete NEW_DataImport.dbo.Employee		-- Commenting out to allow for License ReImport JM 10/9/2025
--where OldSystemEmpID IN (Select OldSystemEmpID from NEW_DataImport.dbo.EmployeeTotal)

Insert Into NEW_DataImport.dbo.EmployeeTotal
Select * from NEW_DataImport.dbo.Employee
where OldSystemEmpID not IN (Select OldSystemEmpID from NEW_DataImport.dbo.EmployeeTotal) -- added for License ReImport JM 10/9/2025

END
